<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	
	<mclm>
		<databaseName>mclm</databaseName>
		<userName>postgres</userName>
		<password>admin</password>
		<databasePort>5432</databasePort>
		
						
		<databaseAddr>10.5.115.137</databaseAddr>
		
		<!-- 
		<databaseAddr>localhost</databaseAddr>
		 -->
		
		<apoloRESTAddress>http://apolo.defesa.mil.br/</apoloRESTAddress>
		<apoloUserName>postgres</apoloUserName>
		<apoloPassword>xxxx</apoloPassword>
		<apoloDatabasePort>5432</apoloDatabasePort>
		<apoloDatabaseAddr>10.5.115.137</apoloDatabaseAddr>
		<apoloDatabaseName>siglmd</apoloDatabaseName>
		
		<aisApiKey>2046730488</aisApiKey>
		<aisApiPass>adc9f816-5cf6-11e7-a4c1-00505680c1b4</aisApiPass>
		
	</mclm>
	
</configuration>

