.setting-icon {
	background-image: url('../img/settings.svg') !important; 
}

.server-icon {
	background-image: url('../img/servers.svg') !important;
}

.forecast-icon {
	background-image: url('../img/fogg.svg') !important;
}

.buoy-icon {
	background-image: url('../img/buoy.svg') !important;
}

.grid-icon {
	background-image: url('../img/grid.svg') !important;
}

.layers-icon {
	background-image: url('../img/layers.svg') !important;
}